.select {
    font-size: 0.9rem;
    padding: 0.8rem;
    width: 280px;
}

.select selected {
    border: 1rem solid red;
}

.options {
    border: 1px solid #e5e5e5;
    background-color: var(--linkHover);
    margin: 10px;
}
