.root {
    --bunker: rgb(13, 17, 23);
    --center-z-index: 10;
    --cerise: rgb(224, 46, 135);
    --font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    --gray: rgb(128, 128, 128);
    --hands-z-index: 5;
    --lavenderblush: rgb(255, 240, 245);
    --palegreen: rgb(152, 251, 152);
    --pink: rgb(255, 192, 203);
    --plum: rgb(221, 160, 221);
}
