.buttonContainer {
    height: 200px;
    width: 200px;
}
.button {
    background: linear-gradient(to bottom, var(--plum), var(--pink));
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0.5px 1.5px var(--bunker);
    color: var(--bunker);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    padding: 6px 14px;
}

.button:hover {
    background: var(--pink);
}
