input {
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px var(--plum), inset -6px -6px 6px white, 0px 0.5px 1.5px var(--gray);
    font-size: 14px;
    height: 50px;
    padding-left: 10px;
}

input:focus {
    background: var(--pink);
}

.input-gender {
    box-shadow: inset 70px 20px 6px var(--gray);
    height: 15px;
    margin-right: 0.5rem;
}
