.formContainer-register {
    background-color: var(--lavenderblush);
    border-radius: 15px;
    box-shadow: 5px 5px 10px var(--gray);
    display: grid;
    gap: 1rem;
    grid-template: [row1-start] "form img" 100%[row1-end]/ 350px 300px;
    height: 750px;
    padding: 1rem;
    width: 400px;
}
